<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Story Posts</h1>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post._id %>"><%= post.title %></a>
        <p>By: <%= post.author %></p>
        <p>Posted on: <%= post.date.toDateString() %></p>
      </li>
    <% }) %>
  </ul>

  <% if (user) { %>
    <a href="/compose">Compose a New Story</a>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
</body>
</html>
